@media screen and (min-width: 992px) {
    :root{

    --fs-body: var(--fs-500);
    --fs-primary-heading:var(--fs-900);
    --fs-secondary-heading:var(--fs-800);
    --fs-nav:var(--fs-300);
    }
    
}