@media screen and (min-width:660px){
    .container{
        padding: 40px;
    }
}
@media screen and (min-width:768px){
    .container{
        padding: 80px;
    }
    .container > h2{
        font-size: 4rem;
    }
    .container > p{
        font-size: 1.5rem;
    }
    .image-content{
        width: 70%;
    }
    /* *HEADER Section */
    
    /* ~Project section */
    .projects .all-box{
        display: flex;
        align-items: center;
        flex-wrap:wrap;
    }
    .projects .box{
        width: 50%;
    }
    /* ~Project section */
}
@media screen and (min-width:1024px){
    .image-caption{
        margin-top:0;
    }
    .content-about{
        display: flex;
        /* flex-wrap: wrap; */
        gap: var(--gap-flex);
    }
    .image-caption, .image-content{
        width: 60%;
    }
    .image-content{
        width: 30%;
    }
    .address{
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-flex);
    }
    .address li{
        width:calc((100% - var(--gap-flex)) / 2);
    }
    .image-content img{
        width: 100%;
    }
    /* *about */
    
    /* ~Project section */
    .projects .box{
        width: 25%;
    }
    /* ~Project section */
    /* &Skills Section */
    .all-skills{
        display: flex;
        flex-wrap: wrap;
    }
    .skill{
        width: 50%;
        padding-right: 20px;
    }
    /* &Skills Section */
}
@media screen and (min-width:1200px){
    .container{
        padding: 5px;
    }
    .icon{
        display: none;
    }
    .side-bar{
        left: 0;
    }
    .home{
        width: calc(100% - 300px);
        margin-left:auto ;
    }
}