:root{
    --icon-color : #139ddc;
    --background-image: #292f37;
    --gray: #5f6164b0;
    --section-color : #f5fafe;
    --margin-value:20px;
    --gap-flex: 20px;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
ul{
    list-style: none;
    padding-left: 0;
    margin: 0;

}
a{
    text-decoration: none;
}
a,span{
    display: inline-block;
}
span{
    font-family: "Roboto", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Raleway", sans-serif;
    margin: 0;
}
p{
    font-family: "Roboto", sans-serif;
    margin: 0;
}
.container{
    padding: 15px;
}
.title{
    padding-bottom: 40px;
}
.title > h2{    
    font-size:2rem;
    padding-bottom: 30px;
}
.title > P{    
    font-size: 1rem;
}

/* *Start Header  */
.header{
    height: 100vh;
    background-image: url("/img/hero-bg.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.header > .container{
    flex: 1;
    z-index: 1;
}
.header  h2{
    font-size: 2rem;
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
}
.header  p{
    font-size: 1.25rem;
    color: #fff;
    margin: 0;
}
/* *End Header */
/* *Start Icon Bar */
#checkbox{
    display: none;
}
.icon{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 20px;
    right: 10px;
    background-color: var(--icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1;
}
.toggle{
    position: absolute;
    width: 14px;
    height: 14px;
}
.toggle span{
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    background-color: #fff;
    transition: rotate .3s , translate .3s , opacity .3s;
}
.toggle span:first-child{
    top: 0;
}
.toggle span:nth-child(2){
    top: 6px;
}
.toggle span:last-child{
    bottom: 0;
}
#checkbox:checked + .toggle > span:first-child{
    top: 6px;
    rotate: 45deg;
}
#checkbox:checked + .toggle > span:nth-child(2){
    opacity: 0;
    translate: -100%;
}
#checkbox:checked + .toggle > span:last-child{
    bottom: 6px;
    rotate: -45deg;
}
/* *End Icon Bar */
/* *Start Side Bar Styles */
.side-bar{
    width: 300px;
    position:fixed;
    top: 0;
    left: -300px;
    background-color: #000;
    padding: 0px 10px;
    height: 100vh;
    z-index: 999;
    transition:  left .3s;
    overflow: auto;
}
.head-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}
.image-profile {
    width: 120px;
    height: 120px;
    padding: 8px;
    background-color: var(--background-image);
    border-radius: 50%;
    margin-bottom: 10px;
}
.image-profile > img{
    width: 100%;
    display: block;
    border-radius: 50%;
}
.head-sidebar > h1{
    font-weight: bold;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.icon-social{
    display: flex;
    gap: 10px;
}
.icon-social li {
    background-color: var(--background-image);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-social li a{
    color: #fff;
}
.icon:has(:checked) + .side-bar {
    left: 0;
}

/* ^Links Side Bar */
.links{
    padding: 20px 0px 0px 10px;
}
.links li{
    margin-bottom: 40px;
    padding: 5px;
}
.links a{
    font-size: 1rem;
    color: #fff;
}
.links i {
    margin-right: 5px;
    font-size: 18px;
}
.links > li > a:focus  i{
    color: var(--icon-color);
}
/* *End Side Bar Styles */
/* !!!!! */
.about, .projects, .skills {
    padding-top: 40px ;
}
/* !!!!!! */

/* *Start About Styles */
.image-content img{
    width: 100%;
    display: block;

}
.image-caption{
    margin-top: var(--margin-value);
}
.image-caption h3,
.image-caption p{
    margin-bottom: var(--margin-value);
}
.image-caption h3{
    font-size: 1.5rem;
}
.address{
    padding-bottom: 20px;
}
.address li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: var(--margin-value);
}
/* *End About Styles */

/* *Start Projects styles */

.projects .box{
    padding: 10px 0px 40px 0px;
    display: flex;
    align-items: flex-start;
}
.projects  .box i{
    font-size: 40px;
    color: var(--icon-color);
    margin-right: 10px;
    padding-top: 5px;
}
.projects .box .counter{
    flex:1;
}
.projects .box .counter > span{
    font-size: 40px;
    font-weight: 900;
}
.projects .box .counter p {
    color: var(--gray);
}
/* *End Projects styles */
/* *Start Skills styles */
.skills{
    background-color: var(--section-color);
}
.name-skill{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.name-skill > span{
    text-transform: uppercase;
}
.skill{
    padding-bottom: 30px;
}
.parent-range{
    height: 8px;
    background-color: var(--gray);
}
.range{
    height: 8px;
    position: relative;
}
.range::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--icon-color);
    position: absolute;
    left: 0;
    top: 0;

}
/* *End  Skills styles */

